<h1>About Us</h1>
<p>FocalHero consists of a loosely-knit group of iStock exclusive artists based in the British Isles. Each of us produces stock photography local to our separate areas. We are working together to promote that local content to designers who are looking for an easier way to find local stock imagery.</p>
<p>If you are an iStock contributor in the British Isles and would like to join us, please get in touch with us - use the <a href='/application'>Application Form</a>, or see the <a href='/contact'>Contact Us</a> page for contact details.</p>
