<h1>Privacy Policy</h1>
<p>As is ususal on the web, the FocalHero site makes use of cookies in order to provide you with a service. If this is troubling to you, we suggest you navigate away now.</p>
<p>Other than the contact details displayed on Artists' individual pages this site does not hold any personally-identifying information. And even if we did we wouldn't share it with anyone beyond our obligations under the law.</p>
