<h1>User Agreement</h1>
<p>By your continued use of this site you agree to:
 <ul>
  <li> our use of cookies as outlined in the Privacy Policy.</li>
 </ul>
</p>
<p>You further agree:
 <ul>
  <li> not to mis-use any contact details that Artists may choose to make available. Mis-use
       includes, without limitation, anything you nasty spammers might be thinking of.</li>
 </ul>
</p>
