<h1>Photographers</h1>
<% @photographers.each do |phtg| %>
<div class='entry'>
 <% 
    avatar='britstock-logo1.png'
    if phtg.image && phtg.image.length>1 then
     avatar=phtg.image
    end
  %>
<%= link_to image_tag( phtg.avatar.url(:thumb), class: 'avatar' ), '/artist/'+phtg.istock_name %>
 <h3><%= link_to phtg.name, '/artist/'+phtg.istock_name, class: 'photographer' %></h3>
 <div class='description'>
  <%= sanitize(phtg.description) %>
 </div>
</div>
<% end %>
