/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
a.ctlBtn1 {
  background: url('buttonGreenBg.png');
  color: white;
  text-decoration: none;
  padding: 2px 8px;
  border: 1px solid #597;
}
a.ctlBtn1:visited {
  color: white;
}
a.ctlBtn1:hover {
  color: yellow;
}
a.ctlBtn1.short {
  padding: 0px 8px;
}
#side ul {
  line-height: 4ex;
}
#side a {
  font-weight: bold;
  text-decoration: none;
  font-size: 110%;
  color: #338;
  margin: 0.5em;
  padding: 4px;
  margin-left: -16px;
}
#side a:hover {
  background: #e8f0ff;
}
#side ul.secondary {
  margin-top: 8ex;
}
#side ul.secondary a {
  font-weight: normal;
  font-size: 95%;
}
#who {
  background: black;
  color: #c82;
  padding: 1em;
}
#who form, #who div {
    display: inline;
}
#who input {
  margin-left: 2em;
}

#banner img {
  float: left;
}
footer {
  font-style: italic;
  position: fixed;
  bottom: 0;
  left: 14em;
  right: 0;
  background: white;
}
footer div {
  font-size: 75%;
  text-align: right;
  padding-right: 1em;
  padding-left: 4em;
}
div.upper_heading {
  margin-top: -1ex;
  font-weight: bold;
  font-size: 80%;
  color: #844;
  text-shadow: 0px 0px 4px #fff, 0px 0px 1px #fff;
}
div.lower_heading {
  padding-top: 0.6ex;
  font-size: 60%;
  color: #844;
  text-shadow: 0px 0px 4px #fff, 0px 0px 1px #fff;
}
body {
  margin-bottom: 40px;
}
