/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
a.ctlBtn1 {
  background: url('buttonGreenBg.png');
  color: white;
  text-decoration: none;
  padding: 2px 8px;
  border: 1px solid #597;
}
a.ctlBtn1:visited {
  color: white;
}
a.ctlBtn1:hover {
  color: yellow;
}
a.ctlBtn1.short {
  padding: 0px 8px;
}
