// Place all the styles related to the Client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#banner {
  height: 80px;
  background-image: url(image_path('banner-01.jpg'));
  padding: 10px;
  padding-top: 50px;
  font-size: 40px;
  color: #5f5e35;
  text-align: center;

  img {
    float: left;
    margin-top: -40px;
    opacity: 0.9;
  }
}
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #e0e0e0;
  font: bold smaller sans-serif;
}
#columns {
  background: #cbd578;

  #main {
    margin-left: 13em;
    padding: 1em;
    background: white;
    padding-bottom: 40px;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 9em;
    background: #cbd578;

    ul {
      padding: 0;
      li {
        list-style: none;
      }
    }
  }
}
.client {
 font-family: Roboto, sans-serif;
 h1 {
  margin: 0;
  padding-bottom: 0.5em;
  font: 200% Paprika, sans-serif;
  color: #819b1a;
  border-bottom: 3px dotted #819b1a;
 }
 .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #819b1a;
  min-height: 150px;

  h3 {
    font-size: 120%;
    font-family: Paprika, sans-serif;
    margin-left: 110px;
    margin-top: 0;
    margin-bottom: 2px;
    color: #819b1a;
    a.photographer {
      color: #819b1a;
    }
  }
  img.avatar {
    float: left;
  }
 }
  div.description {
    margin-left: 110px;
    max-width: 710px;
    padding-right: 10px;
  }
  div.contact {
    margin-top: 16px;
    float: right;
    background-color: #cbd578;
    padding: 16px;
  }
}

h3.infobox {
    font-size: 100%;
    font-family: Paprika, sans-serif;
    margin-top: 0;
    margin-bottom: 2px;
    color: #819b1a;
    a {
      color: #819b1a;
    }
  }
ul.infobox {
    list-style-type: none;
    margin-left: 1em;
    padding: 0;
    a {
      text-decoration: none; 
    }
}

div#list {
  min-width: 300px;
  h3 {
    padding-left: 1em;
    font-family: Paprika, sans-serif;
    color: #819b1a;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  a {
    color: #338;
    padding-left: 2.5em;
    text-indent: -1em;
    text-decoration: none;
    display: block;
    span.photographername {
      font-weight: bold;
    }
    span.locationspecifier {
      font-style: italic;
    }
  }
  a:hover {
    background: #e8f0ff;
  }
  span.nowrap {
    white-space: nowrap;
  }
}
img.lb_image {
 padding: 4px;
 margin: 4px;
 margin-top: 0;
 box-shadow: none;
}
img.lb_image.active {
 margin-top: -5px !important;
 box-shadow: 0 3px 7px #888;
}
div.lightbox {
 border: 1px #819b1a dotted;
 background: #f8fff0;
 margin-top: 4px;
 padding: 8px;
 width: 890px;
 a:hover {
  background: #f8fff0;
 }
 section.lbthumb_container {
    display: block;
    width: 200px;
    height: 200px;
    float: left;
    text-align: center;
    vertical-align: middle;
    img {
      margin: auto;
    }
 }
 button.collection {
  font-size: 80%;
  font-weight: bold;
  background-color: #819b1a;
  cursor: pointer;
  margin-left: 8px;
  color: white;
 }
 button.collection:hover {
  border: #81cf1a solid 2px;
 }
}
div.lb_name {
  font-family: Paprika, sans-serif;
  color: #819b1a;
}
