// Place all the styles related to the Photographers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photographers {

 table {
  border-collapse: collapse;
 }
 table tr td {
  padding: 5px;
  vertical-align: top;
 }
 .list_image {
  width: 100px;
  height: 100px;
 }
 .list_description {
  width: 50%;
 }
 .list_line_even {
  background: #ffffff;
 }
 .list_line_odd {
  background: #f0f0f0;
 }
 .pending {
   background: #ffffd0;
   border: 1px solid red;
 }
 .deleted {
   background: #ffb0b0;
   border: 1px solid red;
   display: none;
 }
 .rejected {
   background: #ffe0d0;
   border: 1px solid red;
 }
 .optional {
   background: #ffffd0;
   border: 1px solid red;
   padding: 0.2em;
 }
 .small {
   font-size: 80%;
 }
 .required {
   background: #e0e0ff;
 }
 div.required {
   font-weight: bold;
   padding: 0.5em;
   border: 1px solid blue;
   margin-top: 1ex;
   margin-bottom: 1ex;
 }
}
#application_form {
  width: 800px;
}
